<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/bootstrap.min.css" %} />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/bootstrap-tweaks.css"/>
  </head>
  <body class="container">
    {% if messages %}
      <div class="alert alert-success">
        <ul class="messages unstyled">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form action="{% url 'change-password' %}" method="post" class="form-inline">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="control-group {% if field.errors %}error{% endif %}">
          {{ field.label_tag }}: {{ field }}
          {% for error in field.errors %}
            <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}
      <input type="submit" name="submit" value="Change Password" class="btn btn-primary">
    </form>
  </body>
</html>
